
.img-carousel {
  width: 50%;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    width: 100%;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 100%;
  }
}
.productsGri {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  place-content: center;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    grid-template-columns: auto;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 200px;
    height: 200px;
  }
}

.addToCartBtn {
  font-size: 15px;
  background-color: #105E11;
  border: none;
}
.addToCartBtn:hover {
  background-color: #a14863;
}