.footer {
  Input {
    width: 500px !important;
    @media screen and (max-device-width: 480px) and (orientation: portrait) {
      width: 300px !important;
    }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 200px !important;
    }
  }

  .footer-list-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  li {
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;

  }
  .footer-section {
    @media screen and (max-device-width: 480px) and (orientation: portrait) {
      text-align: center;
    }
    hr{
      display: none;
      @media screen and (max-device-width: 480px) and (orientation: portrait) {
      display: block;
      }

    }
    }
  }

